.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 50%;
    margin: 0px auto;
    margin-bottom: 25px;
    margin: 75px auto 25px auto;

}

.container h1 {
    font-size: 30px;
    font-family: 'tripsans-ultra';
    color: #1DBF73;
    text-align: center;
}

.header {
    margin-left: 10px;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.header h2 {
    font-family: 'tripsans-ultra';
}

.header p {
    font-family: 'tripsans-medium';
}

.body {
    display: flex;
    gap: 50px;
    margin-top: 25px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    align-items: center;
    gap: 10px;
}

.menu li {
    list-style: none;
    font-size: 16px;
    font-family: 'tripsans-medium';
    width: 175px;
    padding: 10px;
    border-radius: 8px;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
}

.menu li:hover {
    background-color: rgba(29, 191, 115, 0.5)
}

.content {
    transition: all 0.3s ease-in 0s;
    border-radius: 8px;
}

.content:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}

.bodycontent {
    width: 100%;
    display: grid;
    row-gap: 25px;
}

.bodycontentsection {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
}

.avatarsection {
    flex-direction: row;
    column-gap: 20px;
}

.bodycontent h2 {
    font-family: 'tripsans-bold';
    font-size: 20px;
}

.bodycontent p {
    font-family: 'tripsans-regular';
    font-size: 14px;
}

.avatar {
    width: 75px;
    height: 75px;
    background-image: url("/characterone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
}

.avatar:hover {
    transform: scale(1.005);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bodycontentsection input[type="text"] {
    font-family: 'tripsans-medium';
}

.bodycontentsection input {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    transition: all 0.3s ease-in 0s;
    font-family: 'tripsans-medium';
}

.bodycontentsection input:hover {
    border: 1px solid rgba(0, 0, 0, 0.75);
}

.name {
    display: flex;
    column-gap: 25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-radius: 0px 0px 8px 8px;
}

.footer p {
    font-family: 'tripsans-medium';
}

.buttons {
    display: flex;
    column-gap: 20px;
}

.button {
    cursor: pointer;
    outline: none;
    font-family: 'tripsans-medium';
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in 0s;
}

.delete {
    background-color: rgba(255, 0, 0, 0.5);
}

.delete:hover {
    background-color: rgba(255, 0, 0, 1);
    color: white;
}

.save {
    background-color: rgba(0, 255, 0, 0.25);
}

.save:hover {
    background-color: rgba(0, 255, 0, 1);
}

.initial {
    color: rgba(0, 0, 0, 0.75);
}

.valid {
    color: green;
}

.invalid {
    color: red;
}