.title {
    font-size: 25px;
    font-family: 'tripsans-ultra';
    color: #1DBF73;
    text-align: center;
    margin: 75px 0px 0px 0px;
}

.subtitle {
    font-size: 18px;
    font-family: 'tripsans-bold';
    color: #4A4A4A;
    text-align: center;
    margin-bottom: 50px;
}

.bodycontainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 0px auto;
    padding: 50px;
    border-radius: 34px;
    background: #FFFFFF;
    box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.10);
    gap: 35px;
    transition: all 0.3s ease-in 0s
}

.bodycontainer:hover {
    box-shadow: 0px 20px 43px 0px rgba(0, 0, 0, 0.20);
}

.bodycontent {
    display: flex;
    gap: 35px;
}

.usercard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
    cursor: pointer;
}

.usercard h2 {
    font-size: 20px;
    font-family: 'tripsans-bold';
}

.usercard p {
    font-size: 16px;
    font-family: 'tripsans-regular';
    text-align: center;
    padding: 0px 5px;
}

.divider {
    height: 2px;
    width: 25%;
    background-color: rgba(28, 191, 115, 0.5);
    transition: all 0.3s ease-in 0s;
}

.usercard:hover {
    border: 2px solid rgba(0, 0, 0, 1);
}

.usercard:hover > .divider {
    width: 50%;
    background-color: rgba(28, 191, 115, 1);
}

.selected {
    border: 2px solid rgba(0, 0, 0, 1);
}

.selected > .divider {
    width: 50%;
    background-color: rgba(28, 191, 115, 1);
}

.button {
    font-family: 'tripsans-ultra';
    border: none;
    outline: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    background-color: #1DBF73;
    padding: 10px 35px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px auto 5px auto;
    border-radius: 50px;
    box-shadow: 5px 5px 0px 0px black;
    overflow: auto;
    transition: all 0.3s ease-in 0s;
}


.button:hover {
    box-shadow: 7.5px 5px 0px 0px black;
}

.button i {
    margin-top: 2.5px;
}
